#ms-container {
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    font-weight: 500;
    font-family: Verdana, sans-serif;
}

.ms-bg-img {
    display: inline-block;
    cursor: pointer;
}

.ms-gmail-bg {
    background-image: url(../img/gmail.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-yahoo-bg {
    background-image: url(../img/yahoo.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-hotmail-bg {
    background-image: url(../img/hotmail.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-client-bg {
    background-image: url(../img/client.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-orange-bg {
    background-image: url(../img/orange.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-sfr-bg {
    background-image: url(../img/sfr.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-free-bg {
    background-image: url(../img/free.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-numericable-bg {
    background-image: url(../img/numericable.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

.ms-laposte-bg {
    background-image: url(../img/laposte.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

#ms-others {
    border-style: ridge;
    margin-top: 5px;
}

#ms-others a{
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

.ms-link {
    display: inline-table;
    width: 70px;
}

.ms-olink {
    display: inline;
    text-align: right;
    margin: 3px;
    padding-left: 25px;
    width: 80px;
    background-image: url(../img/url_icon.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.ms-title {
    display: block;
    text-align: center;
    font-style: normal;
}

/*
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-client {
    width: 70px;
    height: 70px;
    background-position: -5px -5px;
}

.sprite-gmail {
    width: 70px;
    height: 70px;
    background-position: -85px -5px;
}

.sprite-hotmail {
    width: 70px;
    height: 70px;
    background-position: -5px -85px;
}

.sprite-yahoo {
    width: 70px;
    height: 70px;
    background-position: -85px -85px;
}
*/